<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GatewayServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GatewayServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<!--log4net configuration-->
	<log4net debug="true">
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${AppData}\\SignService\\GatewayTest\\SignService.GatewayTest.BussinessWS.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="true" />
			<preserveLogFileNameExtension value="true" />
			<datePattern value="yyyy-MM-dd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="25MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%logger] %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<appender name="Exception_RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${AppData}\\SignService\\GatewayTest\\SignService.GatewayTest.EXCEPTION.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="true" />
			<preserveLogFileNameExtension value="true" />
			<datePattern value="yyyy-MM-dd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="25MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%logger] %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="Exception_RollingLogFileAppender" />
		</root>
		<logger name="NHibernate" additivity="false">
			<level value="ERROR" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="OFF" />
		</logger>
	</log4net>
	<userSettings>
		<GatewayServiceTest.Properties.Settings>
			<setting name="SERVICE_URL" serializeAs="String">
				<value>https://gateway.vnpt-ca.vn/signservice/v4/api_gateway</value>
			</setting>
			<setting name="APP_ID" serializeAs="String">
				<!--<value>4d00-637756770090774213.apps.smartcaapi.com</value>-->
				<value>414e-637756077633355134.apps.smartcaapi.com</value>
			</setting>
			<setting name="APP_SECRET" serializeAs="String">
				<!--<value>Mzg2NTA2NTI-OTVkZC00ZDAw</value>-->
				<value>NmI5YWYzNzk-MTllMi00MTRl</value>
			</setting>
			<setting name="SERVICE_GET_TOKENURL" serializeAs="String">
				<!--<value>https://rmgateway.vnptit.vn/auth/token</value>-->
				<value>https://gwsca.vnpt.vn/auth/token</value>
			</setting>
			<setting name="URL_CREDENTIALS_LIST" serializeAs="String">
				<!--<value>https://rmgateway.vnptit.vn/csc/credentials/list</value>-->
				<value>https://gwsca.vnpt.vn/csc/credentials/list</value>
			</setting>
			<setting name="URL_CREDENTIALS_INFO" serializeAs="String">
				<!--<value>https://rmgateway.vnptit.vn/csc/credentials/info</value>-->
				<value>https://gwsca.vnpt.vn/csc/credentials/info</value>
			</setting>
			<setting name="URL_SIGN_HASH" serializeAs="String">
				<!--<value>https://rmgateway.vnptit.vn/csc/signature/signhash</value>-->
				<value>https://gwsca.vnpt.vn/csc/signature/signhash</value>
			</setting>
			<setting name="URL_GET_TRAN_ID" serializeAs="String">
				<!--<value>https://rmgateway.vnptit.vn/csc/credentials/gettraninfo</value>-->
				<value>https://gwsca.vnpt.vn/csc/credentials/gettraninfo</value>
			</setting>
		</GatewayServiceTest.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<GatewayServiceTest.Properties.Settings>
			<setting name="USER_PASS" serializeAs="String">
				<value>123456a@A</value>
			</setting>
			<setting name="ENTERPRISE_ACC" serializeAs="String">
				<value>tuanbs@vnpt.vn</value>
			</setting>
			<setting name="USER_ACC" serializeAs="String">
				<value>hauhm1005@gmail.com</value>
			</setting>
		</GatewayServiceTest.Properties.Settings>
	</applicationSettings>
</configuration>