<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BKSOFT_KYSO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="VERSION" value="11.0.78"/>
		<add key="DATE" value="18.11.2021"/>
	</appSettings>
	<userSettings>
		<BKSOFT_KYSO.Properties.Settings>
			<setting name="WebRoot" serializeAs="String">
				<value/>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>15872</value>
			</setting>
			<setting name="CertificateFile" serializeAs="String">
				<value/>
			</setting>
			<setting name="CertificatePassword" serializeAs="String">
				<value/>
			</setting>
			<setting name="Version" serializeAs="String">
				<value>aHR0cHM6Ly9ob2Fkb25iYWNoa2hvYS5wbWJrLnZuL3Rvb2xzL0JLU09GVC1LWVNPL3ZlcnNpb24uanNvbg==</value>
			</setting>
		</BKSOFT_KYSO.Properties.Settings>
	</userSettings>
</configuration>
