<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="TVAN_HostName" value="mq.softdreams.vn" />
		<add key="Que_UserName" value="U-0200784873-68B111A604454C12A6F616CF1C569A9A" />
		<add key="TVAN_Password" value="ZjM1O6ds2EQ" />
		<add key="TVAN_Port" value="5672" />
		<add key="TVAN_QueueName" value="Q-0200784873-4CEECB41BCEA4768BE4352E0E3DCE70A" />

		<add key="TVAN_Url" value="https://tvan.easyinvoice.com.vn"/>
		<add key="TVAN_TaxCode" value="0200784873"/>
		<add key="TVAN_UserName" value="NCC0200784873"/>
		<add key="TVAN_PassWord" value="VdgMe#cI!rkf"/>
	</appSettings>
</configuration>