<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="TVAN_UserName" value="E65566E0BD464B0890038BAC43C2373B" />
		<add key="TVAN_Password" value="7^NM6vzxBGFV" />
		<add key="TVAN_HostName" value="mq.softdreams.vn" />
		<add key="TVAN_Port" value="5672" />
		<add key="TVAN_QueueOut" value="16C5B4D089784D78A587581CA0D19206" />
	</appSettings>
</configuration>