<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="UrlAPI" value="https://localhost:44354/api/ThongDiepPhanHoi/GetPhanHoiTuCQT"/>
		<add key="TVAN_Url" value="http://tvan78.softdreams.vn" />
		<add key="TVAN_TaxCode" value="0200784873" />
		<add key="TVAN_UserName" value="0200784873" />
		<add key="TVAN_PassWord" value="12345678" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>