<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<appSettings>
		<add key="ServerListenerIP" value="192.168.2.11"/>
		<add key="ServerListenerPort" value="35000"/>
		<add key="TCT_UserName" value="admin" />
		<add key="TCT_Password" value="cntt@pmbk" />
		<add key="TCT_HostName" value="192.168.1.118" />
		<add key="TCT_Port" value="5672" />
		<add key="TCT_Exchange" value="tct.hddt" />
		<add key="TCT_RoutingKeyIn" value="rk_tct_in" />
		<add key="TCT_QueueIn" value="queue_tct_in" />
		<add key="TCT_RoutingKeyOut" value="rk_tct_out" />
		<add key="TCT_QueueOut" value="queue_tct_out" />
		<add key="NCC_Api" value="https://localhost:6319/api/ThongDiepPhanHoi/GetPhanHoiTuCQT"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="TCTTranferEntities" connectionString="metadata=res://*/DAL.TCTTranfer.csdl|res://*/DAL.TCTTranfer.ssdl|res://*/DAL.TCTTranfer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=117.7.227.159;initial catalog=TCTTranfer;persist security info=True;user id=sa;password=Bach@khoa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
